database-checks/target
database-checks/test-output
database-checks/.classpath
database-checks/.project
database-checks/.settings
database-parser/target
database-parser/test-output
database-parser/.classpath
database-parser/.project
database-parser/.settings
openedge-checks/target
openedge-checks/test-output
openedge-checks/.classpath
openedge-checks/.project
openedge-checks/.settings
profiler-parser/target
profiler-parser/test-output
profiler-parser/.classpath
profiler-parser/.project
profiler-parser/.settings
oedb-plugin/target
oedb-plugin/test-output
oedb-plugin/.classpath
oedb-plugin/.project
oedb-plugin/.settings
oedb-rules-plugin/target
oedb-rules-plugin/test-output
oedb-rules-plugin/.classpath
oedb-rules-plugin/.project
oedb-rules-plugin/.settings
openedge-plugin/target
openedge-plugin/test-output
openedge-plugin/.classpath
openedge-plugin/.project
openedge-plugin/.settings
openedge-rules-plugin/target
openedge-rules-plugin/test-output
openedge-rules-plugin/.classpath
openedge-rules-plugin/.project
openedge-rules-plugin/.settings
