.idea
**/*.iml
**/.classpath
**/.project
**/.settings
**/dependency-reduced-pom.xml
**/target
**/test-output
current-commit
proparse/src/test/resources/OpenEdge
proparse/src/test/resources/rssw
.DS_Store

